logicapp-enrich-incident-virustotal.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "playbook_name": {
            "defaultValue": "enrich-incident-virustotal",
            "type": "String"
        }
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "api-connection-azuresentinel",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "api-connection-azuresentinel",
                "api": {
                    "name": "api-connection-azuresentinel",
                    "displayName": "Microsoft Sentinel",
                    "description": "Cloud-native SIEM with a built-in AI so you can focus on what matters most",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                    "type": "Microsoft.Web/locations/managedApis"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "api-connection-virustotal",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "api-connection-virustotal",
                "api": {
                    "name": "api-connection-virustotal",
                    "displayName": "Virus Total",
                    "description": "Virus Total is an online service that analyzes suspicious files and URLs to detect types of malware and malicious content using antivirus engines and website scanners. It provides an API that allows users to access the information generated by VirusTotal.",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]",
                    "type": "Microsoft.Web/locations/managedApis"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbook_name')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "api-connection-azuresentinel",
                "api-connection-virustotal"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_FileHashes": {
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/filehash"
                            }
                        },
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "Initialize_array_|_reported_ids": {
                            "runAfter": {
                                "Entities_-_Get_FileHashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "reported_ids",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Loop_through_all_IPs": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Add_comment_to_incident_(V3)": {
                                    "runAfter": {
                                        "VirusTotal_|_IP_scan_report": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<img src=\"https://vt-gtm-wp-media.storage.googleapis.com/logo.png\" alt=\"Virustotal logo\" width=\"200\"/><h3>IP address: @{body('VirusTotal_|_IP_scan_report')?['data']?['id']}</h2><hr/><h3>Detection</h3><table><tr><th>Harmless</th><th>Malicious</th><th>Suspicious</th><th>Undetected</th></tr><tr><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}</td></tr></table><ul><li>&#39;harmless&#39; : site is not malicious</li><li>&#39;undetected&#39; : scanner has no opinion about this site</li><li>&#39;suspicious&#39; : scanner thinks the site is suspicious</li><li>&#39;malicious&#39; : scanner thinks the site is malicious</li></ul><h3>Community Score</h3><table><tr><th>Malicious</th><th>Harmless</th></tr><tr><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['total_votes']?['malicious']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['total_votes']?['harmless']}</td></tr></table><h3>Details</h3><table><tr><th>Network</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['network']}</td></tr><tr><th>ASN Number</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['asn']}</td></tr><tr><th>ASN Label</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['as_owner']}</td></tr><tr><th>Regional Internet Registry</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['regional_internet_registry']}</td></tr><tr><th>Country</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['country']}</td></tr><tr><th>Continent</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['continent']}</td></tr></table>[Full report](https://www.virustotal.com/gui/ip-address/@{body('VirusTotal_|_IP_scan_report')?['data']?['id']})"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "VirusTotal_|_IP_scan_report": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['virustotal']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/v3/ip_addresses/@{encodeURIComponent(items('Loop_through_all_IPs')?['Address'])}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_FileHashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Loop_through_all_file_hashes": {
                            "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                            "actions": {
                                "If_not_reported_before": {
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<img src=\"https://vt-gtm-wp-media.storage.googleapis.com/logo.png\" alt=\"Virustotal logo\" width=\"200\"/><h3>File: @{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['meaningful_name']} - @{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']}</h2><hr/><h3>Detection</h3>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'sigma_analysis_stats'),concat('<h4>Crowdsourced Sigma Rules</h4><table><tr><th>Critical</th><th>High</th><th>Medium</th><th>Low</th></tr><tr><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['critical'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['high'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['medium'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['low'],'</td></tr></table>'),null)}@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'crowdsourced_ids_stats'),concat('<h4>Crowdsourced IDS Rules</h4><table><tr><th>High</th><th>Medium</th><th>Low</th><th>Info</th></tr><tr><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['high'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['medium'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['low'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['info'],'</td></tr></table>'),null)}<h4>Analyses</h4><table><tr><th>Harmless</th><th>Malicious</th><th>Suspicious</th><th>Undetected</th></tr><tr><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['harmless']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['malicious']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['undetected']}</td></tr></table><h3>Community Score</h3><table><tr><th>Malicious</th><th>Harmless</th></tr><tr><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['total_votes']?['malicious']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['total_votes']?['harmless']}</td></tr></table><h3>Details</h3><h4>Basic Properties</h4><table><tr><th>MD5</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['md5']}</td></tr><tr><th>SHA-1</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sha1']}</td></tr><tr><th>SHA-256</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sha256']}</td></tr><tr><th>File type</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['type_description']}</td></tr><tr><th>Magic</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['magic']}</td></tr><tr><th>File size</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['size']} bytes</td></tr></table><h4>History</h4><table>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'creation_date'),concat('<tr><th>Creation Time</th><td>',addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['creation_date'],'Second','u'),'</td></tr>'),null)}<tr><th>First Submission</th><td>@{addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['first_submission_date'],'Second','u')}</td></tr><tr><th>Last Submission</th><td>@{addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_submission_date'],'Second','u')}</td></tr><tr><th>Last Analysis</th><td>@{addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_date'],'Second','u')}</td></tr>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'last_modification_date'),concat('<tr><th>Latest Contents Modification</th><td>',addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_modification_date'],'Second','u'),'</td></tr>'),null)}</table>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'trusted_verdict'),concat('<h4>Known source</h4><table><tr><th>Organization</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['trusted_verdict']?['organization'],'</td></tr><tr><th>File name</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['trusted_verdict']?['filename'],'</td></tr></table>'),null)}@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'signature_info'),concat('<h4>Signature Info</h4><table><tr><th>Signature verifiation</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['verified'],'</td></tr><tr><th>Copyright</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['copyright'],'</td></tr><tr><th>Product</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['product'],'</td></tr><tr><th>Description</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['description'],'</td></tr><tr><th>Original Name</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['original name'],'</td></tr><tr><th>Internal Name</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['internal name'],'</td></tr><tr><th>File Version</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['file version'],'</td></tr><tr><th>Date signed</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['signing date'],'</td></tr></table>'),null)}[Full report](https://www.virustotal.com/gui/file/@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']})"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Append_to_array_variable": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "reported_ids",
                                                "value": "@body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "VirusTotal_|_Retrieve_information_about_a_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "contains": [
                                                        "@variables('reported_ids')",
                                                        "@body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "VirusTotal_|_Retrieve_information_about_a_file": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['virustotal']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/v3/files/@{encodeURIComponent(items('Loop_through_all_file_hashes')?['Value'])}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_array_|_reported_ids": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'api-connection-azuresentinel')]",
                                "connectionName": "azuresentinel",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "virustotal": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'api-connection-virustotal')]",
                                "connectionName": "virustotal",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/virustotal')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}