logicapp-enrich-incident-virustotal.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Entities_-_Get_FileHashes": {
                "inputs": {
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/filehash"
                },
                "runAfter": {
                    "Entities_-_Get_IPs": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Entities_-_Get_IPs": {
                "inputs": {
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/ip"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Initialize_array_|_reported_ids": {
                "inputs": {
                    "variables": [
                        {
                            "name": "reported_ids",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Entities_-_Get_FileHashes": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Loop_through_all_IPs": {
                "actions": {
                    "Add_comment_to_incident_(V3)": {
                        "inputs": {
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "<img src=\"https://vt-gtm-wp-media.storage.googleapis.com/logo.png\" alt=\"Virustotal logo\" width=\"200\"/><h3>IP address: @{body('VirusTotal_|_IP_scan_report')?['data']?['id']}</h2><hr/><h3>Detection</h3><table><tr><th>Harmless</th><th>Malicious</th><th>Suspicious</th><th>Undetected</th></tr><tr><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}</td></tr></table><ul><li>&#39;harmless&#39; : site is not malicious</li><li>&#39;undetected&#39; : scanner has no opinion about this site</li><li>&#39;suspicious&#39; : scanner thinks the site is suspicious</li><li>&#39;malicious&#39; : scanner thinks the site is malicious</li></ul><h3>Community Score</h3><table><tr><th>Malicious</th><th>Harmless</th></tr><tr><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['total_votes']?['malicious']}</td><td style='text-align: center'>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['total_votes']?['harmless']}</td></tr></table><h3>Details</h3><table><tr><th>Network</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['network']}</td></tr><tr><th>ASN Number</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['asn']}</td></tr><tr><th>ASN Label</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['as_owner']}</td></tr><tr><th>Regional Internet Registry</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['regional_internet_registry']}</td></tr><tr><th>Country</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['country']}</td></tr><tr><th>Continent</th><td>@{body('VirusTotal_|_IP_scan_report')?['data']?['attributes']?['continent']}</td></tr></table>[Full report](https://www.virustotal.com/gui/ip-address/@{body('VirusTotal_|_IP_scan_report')?['data']?['id']})"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                        },
                        "runAfter": {
                            "VirusTotal_|_IP_scan_report": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "VirusTotal_|_IP_scan_report": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/ip_addresses/@{encodeURIComponent(items('Loop_through_all_IPs')?['Address'])}"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                "runAfter": {
                    "Entities_-_Get_FileHashes": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Loop_through_all_file_hashes": {
                "actions": {
                    "If_not_reported_before": {
                        "actions": {
                            "Add_comment_to_incident_(V3)_2": {
                                "inputs": {
                                    "body": {
                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                        "message": "<img src=\"https://vt-gtm-wp-media.storage.googleapis.com/logo.png\" alt=\"Virustotal logo\" width=\"200\"/><h3>File: @{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['meaningful_name']} - @{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']}</h2><hr/><h3>Detection</h3>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'sigma_analysis_stats'),concat('<h4>Crowdsourced Sigma Rules</h4><table><tr><th>Critical</th><th>High</th><th>Medium</th><th>Low</th></tr><tr><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['critical'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['high'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['medium'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sigma_analysis_stats']?['low'],'</td></tr></table>'),null)}@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'crowdsourced_ids_stats'),concat('<h4>Crowdsourced IDS Rules</h4><table><tr><th>High</th><th>Medium</th><th>Low</th><th>Info</th></tr><tr><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['high'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['medium'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['low'],'</td><td style=\"text-align:center\">',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['crowdsourced_ids_stats']?['info'],'</td></tr></table>'),null)}<h4>Analyses</h4><table><tr><th>Harmless</th><th>Malicious</th><th>Suspicious</th><th>Undetected</th></tr><tr><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['harmless']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['malicious']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_stats']?['undetected']}</td></tr></table><h3>Community Score</h3><table><tr><th>Malicious</th><th>Harmless</th></tr><tr><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['total_votes']?['malicious']}</td><td style='text-align:center'>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['total_votes']?['harmless']}</td></tr></table><h3>Details</h3><h4>Basic Properties</h4><table><tr><th>MD5</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['md5']}</td></tr><tr><th>SHA-1</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sha1']}</td></tr><tr><th>SHA-256</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['sha256']}</td></tr><tr><th>File type</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['type_description']}</td></tr><tr><th>Magic</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['magic']}</td></tr><tr><th>File size</th><td>@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['size']} bytes</td></tr></table><h4>History</h4><table>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'creation_date'),concat('<tr><th>Creation Time</th><td>',addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['creation_date'],'Second','u'),'</td></tr>'),null)}<tr><th>First Submission</th><td>@{addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['first_submission_date'],'Second','u')}</td></tr><tr><th>Last Submission</th><td>@{addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_submission_date'],'Second','u')}</td></tr><tr><th>Last Analysis</th><td>@{addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_analysis_date'],'Second','u')}</td></tr>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'last_modification_date'),concat('<tr><th>Latest Contents Modification</th><td>',addToTime('1970-01-01T00:00:00Z',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['last_modification_date'],'Second','u'),'</td></tr>'),null)}</table>@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'trusted_verdict'),concat('<h4>Known source</h4><table><tr><th>Organization</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['trusted_verdict']?['organization'],'</td></tr><tr><th>File name</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['trusted_verdict']?['filename'],'</td></tr></table>'),null)}@{if(contains(body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes'],'signature_info'),concat('<h4>Signature Info</h4><table><tr><th>Signature verifiation</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['verified'],'</td></tr><tr><th>Copyright</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['copyright'],'</td></tr><tr><th>Product</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['product'],'</td></tr><tr><th>Description</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['description'],'</td></tr><tr><th>Original Name</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['original name'],'</td></tr><tr><th>Internal Name</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['internal name'],'</td></tr><tr><th>File Version</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['file version'],'</td></tr><tr><th>Date signed</th><td>',body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['attributes']?['signature_info']?['signing date'],'</td></tr></table>'),null)}[Full report](https://www.virustotal.com/gui/file/@{body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']})"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/Incidents/Comment"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            },
                            "Append_to_array_variable": {
                                "inputs": {
                                    "name": "reported_ids",
                                    "value": "@body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']"
                                },
                                "runAfter": {
                                    "Add_comment_to_incident_(V3)_2": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "AppendToArrayVariable"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "contains": [
                                            "@variables('reported_ids')",
                                            "@body('VirusTotal_|_Retrieve_information_about_a_file')?['data']?['id']"
                                        ]
                                    }
                                }
                            ]
                        },
                        "runAfter": {
                            "VirusTotal_|_Retrieve_information_about_a_file": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "VirusTotal_|_Retrieve_information_about_a_file": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/files/@{encodeURIComponent(items('Loop_through_all_file_hashes')?['Value'])}"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                "runAfter": {
                    "Initialize_array_|_reported_ids": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/resourceGroups/RG-Security/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                },
                "virustotal": {
                    "connectionId": "/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/resourceGroups/RG-Security/providers/Microsoft.Web/connections/virustotal",
                    "connectionName": "virustotal",
                    "id": "/subscriptions/b4824877-0da7-4d92-80e5-e186f01b0653/providers/Microsoft.Web/locations/westeurope/managedApis/virustotal"
                }
            }
        }
    }
}